<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
     CameraCrop
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-button (click)="takeaPicture()">
    Take a picture
    </ion-button>
    <img [src]="capturedSnapURL" />

    <ion-button (click)="chooseImage()">
      Choose the image you would like to crop
      </ion-button>
      <img [src]="croppedpicturepath" />

      <h2 *ngIf="croppedpicturepath.length">Cropped Image</h2>
      <p *ngIf="loaded">Processing ...</p>

</ion-content>
